:root {
    --main-color: #fe853a;
    --main-color-light: #ffe9dc;
    --btn-hover: #fea56d;
    --input-size: 20px;
    --main-font-family: "Ubuntu", sans-serif;
    --main-text-color: #383838;
    --border-color: #a6a6a6;
    --bg-dark:#272727;
}

/* start of header section  */




/* start of services section  */




/* start of Experince section  */




/* start of whyHireme section  */




/* start of skills section  */





/* start of Protfolio section  */



/* email Input section  */




/* strat of  footer section  */